<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Welcome to my website! My name is Will Burghard and I am a programmer and musician based in New York City. I built this website from scratch using HTML and CSS as a lightweight, portable showcase of some of my coding and musical projects.
        With regards to programming, I have worked full-stack and have extensive experience with several programming languages including C++, Java, JavaScript, HTML, and SQL, and a working knowledge of several others, such as `C# and Haskell. I have a BA in Computer Science from Bard College. You can find a compilation of my various programming projects by navigating to the "Code" page of this website.
        With regards to music, I play in an alternative rock band called "Retracer" and make ambient/experimental music under the pseudonym "World's Museum." You can find a compilation of my musical projects here on the website at the "Music" page.
        I hope you have fun exploring my website!
            </p>
        </div>
    </div>
</section>