<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
        <div class="col-md-12 col-md-6" >
            <div>
                <p>From 2020-2022, I worked as a full-stack developer at Lake 5 Media, where I built over 18 different applications geared towards helping network companies such as NBC and ABC analyze Nielsen broadcast data.</p>
                <p>Below is a list of some of the other coding projects I have completed throughout my lifetime.</p>
                <table>
            
                    <tr>
                        <th>Project</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>CovertNet: Circumventing Web Censorship Using Covert Channels</td>
                        <td>A client-side web proxy developed in C++ and Java Servlets designed for the purposes of circumventing web surveillance through the use of covert channels.</td>
                        <td><a href="https://github.com/agei5poli5/CovertNet" target=_blank>GitHub</a></td>
                        <td><a href=./CovertNet-master.zip download>Download zip</a></td>
                        </tr>
                        <tr> 
                            <td>Gridmaze</td>
                            <td>A minesweeper-esque puzzle game for Android, developed using Unity and C++. Now available on the Google Play Store</td>
                            <td><a href="https://play.google.com/store/apps/details?id=com.GridworksStudios.Gridmaze&hl=en_US&gl=US" target=_blank>Google Play</a></td>
                            <td></td></td>
                        </tr>
                        <tr>
                            <td>SAT Solver with Backtracking</td>
                            <td>Java program that solves the 3-satisfiability problem using a backtracking approach.</td>
                            <td><a href=./Formula.java>View</a></td>
                            <td><a href=./Formula.java download>Download</a></td>
                        </tr>
                    <tr> 
                        <td>Simple Substitution Cipher</td>
                        <td>A basic simple-substitution cipher developed in Java.</td>
                        <td><a href="https://github.com/agei5poli5/Simple-Substitution-Cipher" target=_blank>GitHub</a></td>
                        <td><a href=./Simple-Substitution-Cipher-master.zip download>Download zip</a></td></td>
                    </tr>
                    <tr>
                        <td>Pintos: An Educational Operating System</td>
                        <td>An educational OS used by students to learn the basics of building an maintaining operating systems. (For Operating Systems class)</td>
                        <td><a href="https://github.com/agei5poli5/CMSC326-Pintos-New">Github</a></td>
                        </tr>
                    <tr>
                        <td>Hasquelito</td>
                        <td>A simple programming language developed in Haskell, mimicking Haskell. Developed Lexer, Parser, Type-Checker, and Interpreter in Haskell. (For Design of Programming Languages)</td>
                        <td><a href=./TypeChecker.hs target=_blank>View Sample</a></td>
                        <td><a href=./Hasquelito.zip>Download zip</a></td>
                    </tr>
                        
                </table>
            </div>
        </div>
    </div>
</section>